* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #e51d20;
}

.navbar {
	background: url(./res/back.svg);
	display: flex;
	justify-content: space-between;
	background-size: cover;
	background-position: center;
	align-items: center;
	height: 14rem;

	.bigButtonImg {
		margin: 1.5rem;
	}

	.smallButtonImg {
		margin: 1.5rem;
		align-self: flex-start;
	}
}

.mainScreen {
	background-color: #e7e7e7;
	height: 70vh;
	margin: 5rem;
	padding: 3rem;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 3.5% 100%, 0% 90%);
	z-index: 1;
	@media (max-width: 600px) {
		margin: 5rem 1rem;
	}
	.displayScreen {
		height: 60vh;
		background-color: #2d3035;
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 3% 100%, 0% 90%);
		overflow: auto;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.loading-screen {
			align-self: center;
			justify-self: center;
			&-title {
				text-transform: uppercase;
				font-size: 2rem;
				color: white;
				text-align: center;
				padding: 1rem;
			}
			&-ball {
				animation: pokeball 1s infinite forwards ease-in-out;
			}
		}

		.more-button {
			text-transform: uppercase;
			font-size: 2rem;
			color: white;
			align-self: center;
			justify-self: center;
			background-color: transparent;
			border: none;
			width: 100%;
			padding: 2rem;
			cursor: pointer;
			&:focus {
				outline: none;
			}
			&:hover {
				background-color: darken($color: #2d3035, $amount: 5%);
			}
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #1e1e1e;
			border-radius: 5px;
		}

		&::-webkit-scrollbar {
			width: 1rem;
		}
	}
}

.searchbar {
	margin: 2rem 20rem;
	text-align: center;

	@media (max-width: 850px) {
		margin: 2rem;
	}

	&-input {
		font-size: 1.5rem;
		width: 80%;
		border: none;
		padding: 2rem 2rem 1.5rem 2rem;
		background-color: #1e1e1e;
		color: white;
		border-bottom: 5px solid transparent;
		transition: border-bottom .3s ease-in;
		&:focus {
			outline: none;
			border-bottom: 5px solid #4183c2;
		}
		@media (max-width: 600px) {
			width: 69%;
		}
	}
}

.button {
	font-size: 1.5rem;
	border: none;
	background-color: #4183c2;
	border-bottom: 5px solid #4183c2;
	color: white;
	width: 19%;
	padding: 2rem 2rem 1.5rem 2rem;
	cursor: pointer;
	display: inline-block;
	&:focus {
		outline: none;
	}
	@media (max-width: 700px) {
		width: 30%;
	}
}

.type {
	margin: 2rem 15rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	grid-gap: 1rem;
	grid-template-rows: repeat(2, min-content);
	justify-items: center;
	align-items: center;
	@media (max-width: 850px) {
		margin: 2rem;
	}

	.typeButtons {
		width: 10rem;
		font-size: 1.5rem;
		border: none;
		background-color: #3d3533;
		color: white;
		padding: 2rem;
		margin: 1rem;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}

.pokemons {
	&-screen {
		&-list {
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;

			width: 20rem;
			height: 32rem;

			background-color: #1e1e1e;
			margin: 1rem;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
			transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 9% 100%, 0% 90%);

			&:hover {
				box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
			}
			&-image {
				background-color: transparent;
				width: 100%;
				img {
					width: 100%;
					height: 100%;
				}
			}
			&-title {
				text-transform: uppercase;
				font-size: 2rem;
				font-weight: 700;
				letter-spacing: .2rem;
			}
			&-types {
				font-size: 1rem;
				text-transform: capitalize;
				display: flex;

				&-type {
					margin: .5rem;
					padding: .5rem;
					border-radius: 2px;
					background-color: green;
				}
			}
		}
	}
}

@keyframes pokeball {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
