$primaryColor: #ffffff;
$accentColor: #f0f2f6;
$secondaryColor: #a1003c;

$grassColor: #90f060;
$fireColor: #fb6c6c;
$waterColor: #76bdfe;
$electricColor: #ffd86f;
$iceColor: #98d8d8;
$ghostColor: #705898;
$normalColor: #a8a878;
$groundColor: #e0c068;
$psychicColor: #f85858;
$dragonColor: #814dff;
$rockColor: #b8a038;
$fightingColor: #c03028;
$fairyColor: #ee99ac;
$poisonColor: #a040a0;
$bugColor: #a8b820;
$darkColor: #040706;
$flyingColor: #4a677d;
$steelColor: #5f756d;

$smallLaptop: 1100px;
$tablet: 800px;
$largeMobile: 530px;
$mediumMobile: 400px;
$smallMobile: 300px;
